{% extends "_layout.twig" %}

{% block title %}Sign Up{% endblock %}

{% block topnav %}
    {% include "shared/_navbar-plain.twig" %}
{% endblock %}


{% block content %}

    <h1>Sign Up</h1>

    <p class="text-muted">Enter your details below. We'll send you an email with a link in it to complete the registration.</p>

    <form class="center-form center-block" action="/account/register" method="post" name="register">
        <div class="card card-block">
            <div class="form-group row">
                <label class="form-control-label col-sm-3">Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="(optional)">
                </div>
            </div>

            <div class="form-group row">
                <label class="form-control-label col-sm-3">Email</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" placeholder="">
                </div>
            </div>


            <div class="text-sm-right">
                <input type="submit" class="btn btn-primary" value="Sign Up">
            </div>
        </div>
    </form>

{% endblock %}


