<nav class="navbar navbar-fixed-top navbar-light bg-faded">
    <a href="/" class="navbar-brand">Slim StarterKit</a>
    <div class="nav navbar-nav">
        <a href="#" class="nav-item nav-link">Something</a>
        <a href="#" class="nav-item nav-link">Something</a>
        <div class="nav navbar-nav pull-xs-right">
            <a class="nav-item btn btn-primary-outline" href="/account/register">Sign Up</a>
            <a class="nav-item nav-link" href="/account/login" class="nav-link">Log In</a>
        </div>
    </div>
</nav>
