{% extends "_layout.twig" %}

{% block title %}Account Home{% endblock %}

{% block content %}

    <h1>Account Home</h1>

    <p class="text-muted">nifty</p>
    even more nifty
    even more nifty
    even more nifty


{% endblock %}


